%h1
  <%= options[:app_name] %>
#block-signup.block
  %h2
    Sign up
  .content
    .flash
      - flash.each do |type, message|
        .message{:class => type.to_s}
          %p
            =  message
    - form_for :<%= resource_name %>, :url => <%= controller_routing_path %>_path, :html => { :class => 'form' } do |f|
      .group
        .left
          %label.label
            Login
        .right
          = f.text_field :login, :class => 'text_field'
        .clear
      .group
        .left
          %label.label
            Email
        .right
          = f.text_field :email, :class => 'text_field'
        .clear
      .group
        .left
          %label.label
            Password
        .right
          = f.password_field :password, :class => 'text_field'
        .clear
      .group
        .left
          %label.label
            Password
        .right
          = f.password_field :password_confirmation, :class => 'text_field'
        .clear
      .group.navform
        %input.button{ :type => "submit", :value => "Sign up" }

